<!DOCTYPE html>
<html>
<head>
  <title>KeepwatchIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body><ul class='nav navbar-nav'><li class='active'><%= link_to 'Home', root_path %></li></ul>
<ul class='nav navbar-nav navbar-right'><li><%= link_to 'Login to Admin Area', admin_dashboard_path %></li></ul>

<%= yield %>

</body>
</html>
